In [20]:
import numpy as py
import pandas as pd
import matplotlib as mpl
# Load all the data
artists = pd.read_csv('Artist.csv')
albums = pd.read_csv('Album.csv')
customers = pd.read_csv('Customer.csv')
employees = pd.read_csv('Employee.csv')
invoices = pd.read_csv('Invoice.csv')
invoice_lines = pd.read_csv('InvoiceLine.csv')
media_types = pd.read_csv('MediaType.csv')
playlists = pd.read_csv('Playlist.csv')
playlist_tracks = pd.read_csv('PlaylistTrack.csv')
tracks = pd.read_csv('Track.csv')
genres = pd.read_csv('Genre.csv')

In [21]:
# Question 1

def get_best_city(invoices: pd.DataFrame) -> pd.Series:
    """ 
    Returns the city with the maximum invoice totals 
    """
    
    # Group by BillingCity then aggregate using Totals' sum
    grouped_invoices = invoices[['BillingCity','Total']].groupby(['BillingCity'], as_index=False).sum()
    
    # Get the row with maximum Totals
    best_city = grouped_invoices.iloc[grouped_invoices['Total'].idxmax()] 
    
    return best_city

target_city = get_best_city(invoices)
target_city

BillingCity    Prague
Total           90.24
Name: 34, dtype: object

In [22]:
#Question 2
invoices.BillingCountry.value_counts()

USA               91
Canada            56
Brazil            35
France            35
Germany           28
United Kingdom    21
Portugal          14
Czech Republic    14
India             13
Chile              7
Poland             7
Hungary            7
Australia          7
Denmark            7
Spain              7
Finland            7
Ireland            7
Austria            7
Argentina          7
Belgium            7
Sweden             7
Norway             7
Netherlands        7
Italy              7
Name: BillingCountry, dtype: int64

In [23]:
#Question 3
invM= invoices[['CustomerId','Total']].groupby(['CustomerId'], as_index=False).sum()
invMo = invM.iloc[invM['Total'].idxmax()] 

customer_id = int(invMo.CustomerId)
customers[customers['CustomerId'] ==  customer_id][['FirstName', 'LastName']]

  FirstName LastName
5    Helena     Holý

In [24]:
#Question 4

def get_listeners(genre: str) -> pd.DataFrame:
    """ Get all listerners of supplied genre """
    try:
        genre_id = genres[genres['Name'] == genre]['GenreId'].loc[0]

        genre_tracks = tracks[tracks['GenreId'] == genre_id][['TrackId']]

        genre_invoice_lines = invoice_lines.merge(genre_tracks, left_on='TrackId', right_on='TrackId')

        genre_invoices = invoices.merge(genre_invoice_lines[['InvoiceId']], left_on='InvoiceId', right_on='InvoiceId')

        genre_customers = customers.merge(genre_invoices[['CustomerId']], left_on='CustomerId', right_on='CustomerId')
        genre_customers.drop_duplicates('CustomerId', inplace=True)
        genre_customers.reset_index(inplace=True)

        sorted_customers = genre_customers.sort_values(by=['Email'], ascending=True)[['Email', 'FirstName', 'LastName']]
        sorted_customers.reset_index(inplace=True, drop=True)

        return sorted_customers
    except:
        # If no listener of a genre is found, return none
        return None

# This way you can easily change the genre

rock_listeners = get_listeners('Rock')
rock_listeners

                            Email  FirstName      LastName
0          aaronmitchell@yahoo.ca      Aaron      Mitchell
1                alero@uol.com.br  Alexandre         Rocha
2          astrid.gruber@apple.at     Astrid        Gruber
3           bjorn.hansen@yahoo.no      Bjørn        Hansen
4        camille.bernard@yahoo.fr    Camille       Bernard
5           daan_peeters@apple.be       Daan       Peeters
6        diego.gutierrez@yahoo.ar      Diego     Gutiérrez
7             dmiller@comcast.com        Dan        Miller
8     dominiquelefebvre@gmail.com  Dominique      Lefebvre
9             edfrancis@yachoo.ca     Edward       Francis
10       eduardo@woodstock.com.br    Eduardo       Martins
11         ellie.sullivan@shaw.ca      Ellie      Sullivan
12         emma_jones@hotmail.com       Emma         Jones
13         enrique_munoz@yahoo.es    Enrique         Muñoz
14       fernadaramos4@uol.com.br   Fernanda         Ramos
15             fharris@google.com      Frank        Harris
16             fralston@gmail.com      Frank       Ralston
17       frantisekw@jetbrains.com  František   Wichterlová
18            ftremblay@gmail.com   François      Tremblay
19           fzimmermann@yahoo.de       Fynn    Zimmermann
20      hannah.schneider@yahoo.de     Hannah     Schneider
21                hholy@gmail.com     Helena          Holý
22             hleacock@gmail.com    Heather       Leacock
23           hughoreilly@apple.ie       Hugh      O'Reilly
24      isabelle_mercier@apple.fr   Isabelle       Mercier
25        jacksmith@microsoft.com       Jack         Smith
26            jenniferp@rogers.ca   Jennifer      Peterson
27            jfernandes@yahoo.pt       João     Fernandes
28      joakim.johansson@yahoo.se     Joakim     Johansson
29        johavanderberg@yahoo.nl   Johannes  Van der Berg
30         johngordon22@yahoo.com       John        Gordon
31            jubarnett@gmail.com      Julia       Barnett
32            kachase@hotmail.com      Kathy         Chase
33          kara.nielsen@jubii.dk       Kara       Nielsen
34       ladislav_kovacs@apple.hu   Ladislav        Kovács
35          leonekohler@surfeu.de     Leonie        Köhler
36         lucas.mancini@yahoo.it      Lucas       Mancini
37           luisg@embraer.com.br       Luís     Gonçalves
38             luisrojas@yahoo.cl       Luis         Rojas
39        manoj.pareek@rediff.com      Manoj        Pareek
40        marc.dubois@hotmail.com       Marc        Dubois
41           mark.taylor@yahoo.au       Mark        Taylor
42           marthasilk@gmail.com     Martha          Silk
43              masampaio@sapo.pt   Madalena       Sampaio
44              michelleb@aol.com   Michelle        Brooks
45             mphilips12@shaw.ca       Mark       Philips
46            nschroder@surfeu.de     Niklas      Schröder
47           patrick.gray@aol.com    Patrick          Gray
48          phil.hughes@gmail.com       Phil        Hughes
49       puja_srivastava@yahoo.in       Puja    Srivastava
50       ricunningham@hotmail.com    Richard    Cunningham
51               robbrown@shaw.ca     Robert         Brown
52  roberto.almeida@riotur.gov.br    Roberto       Almeida
53         stanisław.wójcik@wp.pl  Stanisław        Wójcik
54          steve.murray@yahoo.uk      Steve        Murray
55      terhi.hamalainen@apple.fi      Terhi    Hämäläinen
56               tgoyer@apple.com        Tim         Goyer
57             vstevens@yahoo.com     Victor       Stevens
58          wyatt.girard@yahoo.fr      Wyatt        Girard

In [19]:
# Question 5

def get_best_genres_per_country() -> pd.DataFrame:
    """ Return the highest selling genres per country"""
    invoice_lines_with_genres = invoice_lines.merge(tracks[['GenreId', 'TrackId']], left_on='TrackId', right_on='TrackId')

    invoice_lines_with_customer = invoice_lines_with_genres.merge(invoices[['CustomerId', 'InvoiceId']],
                                                                  left_on='InvoiceId', right_on='InvoiceId')

    invoice_lines_with_country = invoice_lines_with_customer.merge(customers[['Country', 'CustomerId']],
                                                                   left_on='CustomerId', right_on='CustomerId')

    invoice_lines_with_genre_names = invoice_lines_with_country.merge(genres[['GenreId', 'Name']], left_on='GenreId',
                                                                      right_on='GenreId')

    stripped_invoice_lines = invoice_lines_with_genre_names[['Country', 'Name']]
    grouped = stripped_invoice_lines.groupby(['Country', 'Name']).size()

    best_genres = pd.DataFrame(columns=['Country', 'Name'])

    for country_name, series in grouped.groupby(level=0):
        # Had to use a for loop since max() and idxmax() functions only returned a single row even in case of ties
        max_rows_df = series[series == series.max()].reset_index() # Get the top rows and convert to dataframe
        best_genres = best_genres.append(max_rows_df)

    best_genres = best_genres.reset_index(drop=True).rename(columns={0: 'Listeners'})
    
    return best_genres

get_best_genres_per_country()

           Country                Name  Listeners
0        Argentina  Alternative & Punk        9.0
1        Argentina                Rock        9.0
2        Australia                Rock       22.0
3          Austria                Rock       15.0
4          Belgium                Rock       21.0
5           Brazil                Rock       81.0
6           Canada                Rock      107.0
7            Chile                Rock        9.0
8   Czech Republic                Rock       25.0
9          Denmark                Rock       21.0
10         Finland                Rock       18.0
11          France                Rock       65.0
12         Germany                Rock       62.0
13         Hungary                Rock       11.0
14           India                Rock       25.0
15         Ireland                Rock       12.0
16           Italy                Rock       18.0
17     Netherlands                Rock       18.0
18          Norway                Rock       17.0
19          Poland                Rock       22.0
20        Portugal                Rock       31.0
21           Spain                Rock       22.0
22          Sweden               Latin       12.0
23             USA                Rock      157.0
24  United Kingdom                Rock       37.0